<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="wooCommerceRestAPIUrl" value="http://dealswhat.com/wc-api/v3/" />
    <add key="wooCommerceRestAPIKey" value="ck_efc096e3bcc38b7668bef04d7dc9439907f7825e" />
    <add key="wooCommerceRestAPISecret" value="cs_156d34d2b5e6f2d8da54fcbd2e8315bc54355749" />
    <add key="priceLowCap" value="1" />
    <add key="priceHighCap" value="100" />
    <add key="minOrders" value="50" />
    <add key="maxItemPerCategory" value="300" />

    <add key="markUpPercentage" value="1.20" />
    <add key="usdtoMyrCurrencyRate" value="4.1" />
    <add key="postAs" value="draft" />

    <add key="productPauseDelay" value="30000" />

    <add key="productMinPriceAfterConvert" value="20" />
    <add key="productBelowMinMarkup" value="2" />

    <add key="loginPageAppearedPauseDelay" value="600000"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>